%h1 Create New Author

= form_for @author, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :first_name, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :first_name, class: 'form-control'

  .form-group
    = f.label :last_name, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :last_name, class: 'form-control'

  .form-group
    .col-sm-10.col-sm-push-2
      = f.submit 'Create Author', class: 'btn btn-lg btn-success'
      = link_to 'Cancel', authors_path, class: 'btn'
